.recipes {
  padding: 5rem 1rem;
  max-width: $container-width;
  margin: 0 auto;

  //   Title
  h2 {
    text-align: center;
    font-family: $secondary-font;
    margin-bottom: 3rem;
  }

  // Grid Container

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;

    &-card {
      background-color: white;
      overflow: hidden;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      cursor: pointer;
      @include card-hover;

      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }

      .recipe-content {
        padding: 1.5rem;

        h3 {
          color: $text-color;
          margin-bottom: 0.5rem;
        }

        p {
          color: $dark-gray;
          margin-bottom: 1rem;
        }

        span {
          display: flex;
          align-items: center;
          gap: 0.5rem;
          font-size: 0.9rem;

          i {
            color: $primary-color;
          }
        }
      }
    }
  }
}
